.status-card-body {
    background-color: rgb(98, 98, 98);
    color: white;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.status-card-body:hover {
    background-color: white;
    color: black;
}

.ActivitySummaryClient{
    padding: 30px;
    height: calc(100vh - 80px);
    width: calc(100vw - 300px);
    /* background-color: #e2e1e2; */
    overflow: auto;
}

.ActivitySummaryClient{
    padding: 30px;
    height: calc(100vh - 80px);
    width: calc(100vw - 300px);
    background-color: #e2e1e2;
    overflow: auto;   
}